nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 75px;

  @media (max-width: $tablet) {
    padding: 30px 0;
  }

  .logo {
    align-items: center;
    display: flex;
    font-size: 26px;
    font-weight: 600;
    opacity: .85;

    @media (max-width: $tablet) {
      font-size: 18px;
    }

    &.router-link-exact-active {
      opacity: .85;
    }

    &:hover {
      text-decoration: none;
    }

    .icon-container {
      height: 35px;
      width: 35px;

      @media (max-width: $tablet) {
        height: 25px;
        width: 25px;
      }

      svg {
        fill: white;
        position: relative;
        top: -1px;
      }
    }

    p {
      margin-left: 10px;

      @media (max-width: $mobile) {
        margin-left: 10px;
      }
    }
  }

  a {
    color: $text-color;
    opacity: .5;
    text-decoration: none;
    transition: $transition;

    @media (max-width: $tablet) {
      font-size: 14px;
    }

    &:hover {
      @media (min-width: $tablet) {
        opacity: 1;
        text-decoration: underline;
      }

      &.settings i {
        transform: rotate(45deg);
      }
    }

    &.router-link-exact-active {
      opacity: 1;
    }

    &.coming-soon {
      opacity: 1;
      pointer-events: none;
      position: relative;

      span {
        opacity: .5;
      }

      &::after {
        bottom: 0;
        color: $blue;
        content: 'This feature is currently in progress. It will be coming soon.';
        font-size: 10px;
        left: 50%;
        position: absolute;
        text-align: center;
        transform: translate(-50%, calc(100% + 4px));
        width: 100%;
      }
    }

    i {
      transition: $transition;
    }
  }
}